.counter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 230px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 48px;
    margin-top: 10px;
}

p{
    text-align: center;
    font-size: 30px;
}



.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-content {
    text-align: center;
}

.counter-display {
    margin-bottom: 20px;
}